.navbar
  background-color      : #75521a !important
  border-radius         : 0px !important

.nav
  a
    color               : #FFFFFF !important
    text-decoration     : none
  a:hover
    background-color: #AB813E !important

h1, h2, h3
  font-family           : 'leschnerfont' !important

.text-gold
  color                 : #75521a

.footer-text, a
  color                : #ffffff
  text-decoration      : none !important

.footer-content
  margin-top           : 15px
  height               : 50px

.btn-gold
  background-color     : #75521a !important
  color                : #ffffff !important

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%


.mini
  width                : 100%
  display              : block
  margin-left          : auto
  margin-right         : auto

.realisations
  text-align           : justify


.landscape_format_pic
  width               : 800px


@media screen and (max-width: 720px)
  #miniatures
    display            : none !important


