h1, h2, h3
  font-family   : 'leschnerfont' !important

.text-gold
  color         : #75521a

.footer-text, a
  color                : #ffffff
  text-decoration      : none !important

.footer-content
  margin-top           : 15px
  height               : 50px
