.bg-image
  background-image    : url("head.jpg")
  background-size     : cover
  background-repeat   : no-repeat
  background-position : center
  min-height          : 100vh
  z-index             : 1
  position            : relative

.welcome-text
  margin-top          : 20%
  color               : #ffffff
  position            : relative
  z-index             : 5
  h1
    font-size         : 50px
  p
    font-size         : 20px

.company-introduction
  text-align          : justify

.luthier-pic
  margin-top          : 2%
  width               : 100%
  border-radius       : 50%

hr
  border-top: 1px solid black !important


