// Place all the styles related to the progresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini_diapo
  display        : inline-block
  width          : 150px
  height         :  90px
  margin-right   :  5px
  margin-bottom  :  10px

.mini_index
  width          : 50%
  margin-left    : 5%
  margin-bottom  : 10%

.progress_container
  margin-left : 2% !important
  text-align  : justify 

.progress_content
  width          : 30% !important
  border         : 1px solid black
  border-radius  : 1%
  margin-right   : 2%
  margin-bottom  : 2%
  padding-bottom : 2%