// Place all the styles related to the progresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini_diapo
  display        : inline-block
  width          : 150px
  height         :  90px
  margin-right   :  5px
  margin-bottom  :  10px

// .progress_content
//   border         : 1px solid #dddddd
//   border-radius  : 1%
//   margin-bottom  : 5%
//   padding-bottom : 5%
//   text-align     : justify


#progresses
  text-align : justify
  margin : 0 auto
  width : 100%
  .box
    margin : 10px
    width : 250px
    box-shadow : 0 1px 2px 0 rgba(0, 0, 0, 0.22)
    border-radius : 7px
    text-align : center
    img
      border-radius: 2% 2% 0 0
      margin-top : 2%
      max-width : 95%
      height : auto




